[package]
name = "rustyspottedcat"
version = "0.1.0"
edition = "2024"
authors = ["Arion <arion.dsh@gmail.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/arion-dsh/spottedcat"
description = "Rusty SpottedCat simple game engine"
readme = "README.md"

[lib]
name = "spot"

[dependencies]
wgpu = "27"
bytemuck = { version = "1", features = ["derive"] }
anyhow = "1"
winit = "0.30"
image = "0.25"
ab_glyph = "0.2"
