[package]
name = "spottedcat"
version = "0.2.3"
edition = "2024"
authors = ["Arion <arion.dsh@gmail.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/arion-dsh/spottedcat"
description = "Rusty SpottedCat simple game engine"
readme = "README.md"
exclude = [
    "examples/**",
]

[[example]]
name = "auto_clip_demo"
path = "examples/auto_clip_demo.rs"
publish = false

[[example]]
name = "clipping_example"
path = "examples/clipping_example.rs"
publish = false

[[example]]
name = "custom_shader_example"
path = "examples/custom_shader_example.rs"
publish = false

[[example]]
name = "debug_clipping_bounds"
path = "examples/debug_clipping_bounds.rs"
publish = false

[[example]]
name = "debug_clipping_text"
path = "examples/debug_clipping_text.rs"
publish = false

[[example]]
name = "debug_obvious_wrap"
path = "examples/debug_obvious_wrap.rs"
publish = false

[[example]]
name = "debug_render_wrap"
path = "examples/debug_render_wrap.rs"
publish = false

[[example]]
name = "debug_text_height"
path = "examples/debug_text_height.rs"
publish = false

[[example]]
name = "debug_wrapping"
path = "examples/debug_wrapping.rs"
publish = false

[[example]]
name = "demo"
path = "examples/demo.rs"
publish = false

[[example]]
name = "draw_child_example"
path = "examples/draw_child_example.rs"
publish = false

[[example]]
name = "extreme_wrap_test"
path = "examples/extreme_wrap_test.rs"
publish = false

[[example]]
name = "input_example"
path = "examples/input_example.rs"
publish = false


[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[dependencies]
wgpu = "27"
bytemuck = { version = "1", features = ["derive"] }
anyhow = "1"
winit = "0.30"
image = "0.25"
ab_glyph = "0.2"

[target.'cfg(all(target_arch = "wasm32", target_os = "unknown"))'.dependencies]
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
console_error_panic_hook = "0.1"
web-time = "1"
web-sys = { version = "0.3", features = ["console", "Document", "Element", "HtmlCanvasElement", "Window"] }
